#notfound .notfound {
    position: absolute;
    left: 50%;
    top: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}
.block {
    z-index: -1;
}
.banner.active {
    transform: translateX(-22%);

}

.notfound {
    max-width: 410px;
    width: 100%;
    text-align: center;
}

.notfound .notfound-404 {
    height: 280px;
    position: relative;
    z-index: -1;
}

.notfound .notfound-404 h1 {
    font-family: 'Poppins', sans-serif;
    font-size: 230px;
    margin: 0;
    font-weight: 900;
    position: absolute;
    left: 50%;
    -webkit-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    transform: translateX(-50%);
    text-shadow: #00dbde 9px 9px, #fc00ff -9px 9px, #00dbde 0 0, #00dbde  0 0;
    color: #333333;
    background-size: cover;
    background-position: center;
}

.notfound h2 {
    text-shadow: #0ABFBC 3px 3px;
    color: #333333;
    font-family: 'Poppins', sans-serif;
    font-size: 24px;
    font-weight: 700;
    text-transform: uppercase;
    margin-top: 0;
}

.notfound p {
    font-family: 'Poppins', sans-serif;
    color: #000;
    font-size: 14px;
    font-weight: 400;
    margin-bottom: 20px;
    margin-top: 0;
}

.notfound a {
    font-family: 'Poppins', sans-serif;
    font-size: 14px;
    text-decoration: none;
    text-transform: uppercase;
    border-radius: 20px;
    background: linear-gradient(to bottom left, #00dbde,#fc00ff);
    color: #FFFFFF;
    display: inline-block;
    padding: 15px 30px;
    -webkit-box-shadow: 0 4px 15px -5px #fff;
    box-shadow: 0 4px 15px -5px #fff;
    font-weight: bold;
    letter-spacing: 1px;
    transition: transform 80ms ease-in;
}


@media only screen and (max-width: 767px) {
    .notfound .notfound-404 {
        height: 142px;
    }

    .notfound .notfound-404 h1 {
        font-size: 112px;
    }
    .notfound h2 {
        font-size: 20px;

    }
}

/*.qztBA {*/
/*    display: grid;*/
/*    grid-column-gap: var(--column-gutter);*/
/*    grid-template-columns: repeat(var(--columns),minmax(0,1fr));*/
/*    align-items: start;*/
/*}*/


/*element.style {*/
/*    --column-gutter: 24px;*/
/*    --columns: 3;*/
/*}*/