.postcard {
    background-color: #fff;
    border-radius: 25px;
    position: relative;
    overflow: hidden;
    width: 500px;
    left: 30%;
    max-width: 100%;
    min-height: 600px;
    box-shadow: 5px 5px #00dbde;
}
 body {
     overflow: hidden;
     animation: fadein 2s;
 }

@keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

button {
    border-radius: 20px;
    border: 1px solid #fff;
    background: linear-gradient(to bottom left, #00dbde,#fc00ff);
    color: #FFFFFF;
    font-size: 12px;
    font-weight: bold;
    padding: 12px 45px;
    letter-spacing: 1px;
    text-transform: uppercase;
    transition: transform 80ms ease-in;
    float:none; display: inline
}

.categories {
    flex-direction: row;
    justify-content: space-evenly;
}

.selection {
    margin: 0 5px 0 10px;
    width: unset;
}