.postcard {
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25),
    0 10px 10px rgba(0, 0, 0, 0.22);
    position: relative;
    overflow: hidden;
    width: 500px;
    left: 30%;
    max-width: 100%;
    min-height: 480px;
}
 body {
     overflow: hidden;
     animation: fadein 2s;
 }
@keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}
